<div class="card  border-primary mb-3" *ngIf="eteindre==false" >
  <div class="card-header text-white bg-primary"> calculatrice</div>
  <div class="card-body text-dark"> 
    <div class="container">
      <div id="sc">
        <label id="screen" name="value" >{{ value }}</label><br>
        <label id="result"name="result" >{{result}}</label>
      </div>      <div class="row">
          <div class="col-md-auto">
          <button class="btn btn-primary" (click)="operateur('(')"> (</button>
          <button class="btn btn-primary" (click)="operateur(')')">)</button>
          <button class="btn btn-primary">M</button>
          </div>
          <div class="col">
            <button class="btn btn-primary">RM</button>
            <button class="btn btn-danger" (click)="eteindre=true">Off</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-auto">
          <button class="btn btn-primary" (click)="change('←')">←</button>
          <button class="btn btn-primary">CE</button>
          <button class="btn btn-primary"(click)="change('C')">C</button>
          </div>
          <div class="col">
            <button class="btn btn-primary" (click)="cliquer('+-')">±</button>
            <button class="btn btn-primary" (click)="change('√')">√</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-auto">
          <button class="btn " (click)="cliquer('7')">7</button>
          <button class="btn " (click)="cliquer('8')">8</button>
          <button class="btn " (click)="cliquer('9')">9</button>
          </div>
          <div class="col">
            <button class="btn btn-primary" (click)="operateur('/')">/</button>
            <button class="btn btn-primary" (click)="operateur('%')">%</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-auto">
          <button class="btn" (click)="cliquer('4')">4</button>
          <button class="btn " (click)="cliquer('5')">5</button>
          <button class="btn " (click)="cliquer('6')">6</button>
          </div>
          <div class="col">
            <button class="btn btn-primary"(click)="operateur('*')">*</button>
            <button class="btn btn-primary" (click)="change('1/x')">1/x</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-auto">
          <button class="btn" (click)="cliquer('1')">1</button>
          <button class="btn"(click)="cliquer('2')">2</button>
          <button class="btn "(click)="cliquer('3')">3</button>
          </div>
          <div class="col">
            <button class="btn btn-primary" (click)="operateur('-')">-</button>  <button class="btn btn-success"(click)="cliquer('=')">=</button>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
          <button class="btn zero  "(click)="cliquer('0')">0</button>
          </div>
          <div class="col-3">
          <button class="btn "(click)="cliquer('.')">.</button></div>
          <div class="col">
            <button class="btn btn-primary"(click)="operateur('+')">+</button>
          
          </div>    
        </div>
      </div>
      </div>
      </div>
      <div class="card  border-primary mb-3" *ngIf="eteindre==true" >
        <div class="card-header text-white bg-primary"> calculatrice<button
          class="btn btn-primary" (click)="eteindre=false">
          On
        </button></div>
        <div class="card-body text-dark"> 
